<script>
setDate(){

  let nf = Date.now().toString();
  this.conf.corek.socket.emit('query_post', {'condition':{'post_type':'presale'},'event': nf });
  this.conf.corek.socket.on(nf, (data) => {
    console.log(data[0]);
    // console.log
    this.fecha = Number (new Date( data[0].post_date));
  });


setInterval(() => { 
 this.respuestas= this.get_date(); 
}, 1000);

}
  get_date(){
      if( this.fecha){

     
            var now = Number (new Date());
            
            var days = (this.fecha - now) / 1000 / 60 / 60 / 24;
            this.daysRound = Math.floor(days);
            var hours = (this.fecha - now) / 1000 / 60 / 60 - (24 * this. daysRound);
            this.hoursRound = Math.floor(hours);
              var minutes = (this.fecha - now) / 1000 /60 - (24 * 60 * this. daysRound) - (60 *  this.hoursRound);
            this.minutesRound = Math.floor(minutes);
              var seconds = (this.fecha - now) / 1000 - (24 * 60 * 60 * this. daysRound) - (60 * 60 *  this.hoursRound) - (60 * this.minutesRound);
            this.secondsRound = Math.round(seconds);
            // console.log("Fechas:",now,this.fecha);
            if (this.daysRound <= -1) {
              
              //  console.log( this.daysRound,  this. hoursRound,  this.minutesRound,  this.secondsRound);
              return 0;
          
            }else{
             
              return 1;
              
        
            }
          }else{
            return 0;
          }
       
  }
</script>

<div class="jumbotron">
    <h1 strong>Votto Pre sale <img src="../../assets/images/icono-about.png" alt=""></h1>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p> -->
    <!-- <p *ngIf="respuestas != 0"><strong>Days:</strong> {{daysRound}} <strong> Hours:</strong>{{hoursRound}} <strong> Minutes:</strong> {{minutesRound}} 
        <strong> Second:</strong> {{secondsRound}}
    </p>
    <p *ngIf="respuestas == 0"><strong>Days:</strong> 0 <strong> Hours:</strong>0 <strong> Minutes:</strong> 0 
        <strong> Second:</strong> 0</p> -->
    <div class="center" styele="color:white">
            <div class="row " *ngIf="respuestas != 0">
            
                    <div class="col-md-2 hora">
                        <label for="" > {{daysRound}}</label> <br> <p>Days</p>
                    </div>
                    <div class="col-md-2 hours hora">
                        <label for="" > {{hoursRound}}</label> <br> <p>Hours</p>
                    </div>
                    <div class="col-md-2 minutes hora">
                        <label for="" > {{minutesRound}}</label> <br> <p>Minutes</p>
                    </div>
                    <div class="col-md-2 seconds hora">
                        <label for="" > {{secondsRound}}</label> <br> <p>Second</p>
                    </div>
            
            </div>
   
    <div class="row " *ngIf="respuestas == 0">
            <div class="col-md-2 hora">
                <label for="" > 0</label> <br> <p>Days</p>
            </div>
            <div class="col-md-2 hora">
                <label for="" > 0</label> <br> <p>Hours</p>
            </div>
            <div class="col-md-2 hora">
                <label for="" > 0</label> <br> <p>Minutes</p>
            </div>
            <div class="col-md-2 hora">
                <label for="" > 0</label> <br> <p>Second</p>
            </div>
        </div>
    </div>
</div>
